<%= form_with(url: search_properties_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "物件を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @properties.each do |property| %>
    <%= render partial: "property", locals: { property: property } %>
  <% end %>
</div>