<div class="contents">
  <h3>商品</h3>
    <div class="item-lists">
      <% @items.each do |item| %>
        <div class="item-list">
          <div class="item-name">
            <%= link_to item.product_number, item_path(item.id),class:"menuLIST" %>
          </div>
        </div>
      <% end %>
    </div>
</div>
