* {
  box-sizing: border-box;
}

body {
  background-color: rgba(231, 238, 231, 0.629);
  margin: 0;
}

/* トップページ */

.contents {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 30px;
}

h3{
  padding: 30px;
  font-size: 30px;
  border-bottom: 10px ridge #424242;
}

.property-lists {
  display: flex;
}

.property-list {
  background-color: rgba(141, 224, 141, 0.238);
  padding: 20px;
  margin: 20px 30px;
  border-left: 10px solid #5e5c5c;
  border-bottom: 2px solid #7c7979;
  width: 50%;
}

.user-list {
  float: right;
}

.header a {
  text-decoration: none;
  color: black;
}

.menu {
  padding: 10px 20px 20px 10px;
  font-size: 20px;
  border-bottom: 8px double gray;
  margin: 0 15px;
  text-decoration:none
}

.menuLIST {
  text-decoration: none;
}

li {
  display: inline;
  list-style-type: none;
  padding-left: 20px;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 15px;
  border-bottom: 8px double gray;
}



/* ユーザー管理 */

.new_user {
  font-family: "游ゴシック", "YuGothic";
}

.fields {
  text-align: center;
}

.field {
  margin: 10px;
}

/* 物件登録 */

.container {
  text-align: center;
}

.form {
  padding: 3px;
}

.detail-table {
  max-width: 500px;
}
/* 物件詳細 */

table {
  font-size: 20px;
  margin: auto
}

tr {
  border: solid 1px black;
  background-color: rgb(197, 194, 194);
}

td {
  padding: 0 25px;
}

th {
  padding: 5px 10px;
}

.delete {
  float: right;
  padding: 20px;
}

.jump-room {
  padding: 40px 20px;
}

.rooms {
  border-top: solid 2px grey;
  text-align: center;
}

.room-list {
  padding: 20px;
  background-color: rgba(141, 224, 141, 0.238);
  padding: 20px;
  margin: 20px 30px;
  border-left: 10px solid #5e5c5c;
  border-bottom: 2px solid #7c7979;
  font-size: 20px;
}

/* 詳細ページ */

.approaches {
  border-top: solid 2px grey;
  text-align: center;
}



