* {
  box-sizing: border-box;
}

.header a {
  text-decoration: none;
  color: black;
}

.menu {
  padding: 10px 20px 20px 10px;
  font-size: 20px;
  border-bottom: 8px double gray;
  margin: 0 15px;
}

li {
  display: inline;
  list-style-type: none;
  padding-left: 20px;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 15px;
  border-bottom: 8px double gray;
}

.logout {
  float: right;
}
